<template>
  <section class="resume-section d-flex align-items-center flex-column">
    <div class="w-100">
      <h2 class="service-name">{{ serviceContent.post_title }}</h2>
      <div class="service-content mb-5" v-html="serviceContent.post_content"></div>
      <b-button variant="outline-primary" to="/contact">Enquire Now</b-button>
    </div>
  </section>
</template>

<script>
export default {
  name: "SystemsDevelopment",
  data() {
    return {
      serviceContent: ""
    }
  },
  mounted() {
    this.getSingleService();
  },
  methods: {
    getSingleService: function() {
      this.$axios
        .get("/vue/v1/service/955")
        .then(res => {
          if (res.data) {
            this.serviceContent = res.data;
          }
        })
        .catch(err => {});
    }
  }
}
</script>