// Global styling for this template

body {
  @include body-font;
  font-weight: 300;
  padding-top: 66px;
  overflow-x: hidden;
}
@include media-breakpoint-up(lg) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  @include media-breakpoint-up(xl){
    font-size: px-to-rem(72px);
    line-height: px-to-rem(84px);
  }
  font-weight: 900;
  &.page-title {
    color: $light;
    border: 5px solid $light;
    padding: px-to-rem(18px) px-to-rem(33px);
    display: inline-block;
    margin-bottom: 0;
  }
}

h2 {
  font-size: px-to-rem(36px);
  line-height: px-to-rem(42px);
  font-weight: 900;
  margin-bottom: px-to-rem(30px);
}

h3 {
  font-size: px-to-rem(24px);
  line-height: px-to-rem(28px);
}

p.lead {
  font-size: px-to-rem(21px);
  line-height: px-to-rem(25px);
  font-weight: 400;
  margin-bottom: px-to-rem(20px);
}

.subheading {
  text-transform: uppercase;
  @include heading-font;
}
