// Mixins
$font-size-base: 16px;

@mixin body-font {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@mixin heading-font {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@mixin pixel-rem($fs: $font-size-base, $lh: $font-size-base) {
	font-size: strip($fs) * 1px;
	font-size: strip($fs/16px) * 1rem;
	@if $lh != $font-size-base {
		line-height: strip($lh/$fs);
	}
}