#sideNav {
  background: url("/images/background.jpg") no-repeat center top rgba($primary, 0.75);
  background-size: cover;
  position: relative;
  @include media-breakpoint-up(lg) {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: $sidebar-base-width;
    height: 100%;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary, 0.25);
  }
}

.navbar-nav .nav-item .nav-link {
  color: $light;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  @include pixel-rem(36, 42);
  text-align: center;
  @include media-breakpoint-up(lg) {
    text-align: right;
  }
  @include media-breakpoint-up(xl) {
    @include pixel-rem(72px, 84px);
    text-align: right;
  }
}
.navbar-toggler {
  &:focus {
    outline-color: lighten($primary, 15%);
  }
}

.navbar-light {
  background-color: $primary;
  @include media-breakpoint-up(lg) {
    background-color: rgba($light, 0);
  }
  &.navbar-bg-onscroll {
    background-color: $primary;
    @include media-breakpoint-up(lg) {
      background-color: rgba($light, 0);
    }
  }
  @include media-breakpoint-up(lg) {
    padding: 60px;
  }
  .navbar-toggle {
    padding: 0;
    border: none !important;
    background: rgba($light, 0) !important;
    &:hover, &:focus {
      background: rgba($light, 0) !important;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
  .navbar-collapse {
    @include media-breakpoint-up(lg) {
      height: calc(100vh - 120px);
    }
  }
  .navbar-nav {
    .nav-link {
      &.active, &:focus, &:hover {
        color: $secondary;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    width: 50vw;
    z-index: 9999;
  }
  .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
    .img-profile {
      max-width: 10rem;
      max-height: 10rem;
      border: 0.5rem solid fade-out($white, 0.8);
    }
  }
  .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;

    width: 100%;
    margin-bottom: auto;
    .navbar-nav {
      flex-direction: column;

      width: 100%;
      .nav-item {
        display: block;
        .nav-link {
          display: block;
        }
      }
    }
  }
}

.nav-link {
  &.active {
    color: $secondary;
  }
}