<template>
  <div class="w-100" v-if="processesList != ''">
    <div
      v-for="(process, index) in processesList.acf.section"
      :key="index"
      :class="['process', `process-${index}`]"
    >
      <b-media class="process-image" vertical-align="center" :right-align="index % 2 ? true : false">
        <template v-slot:aside>
          <list-icon size="120" v-if="process.heading == 'Planning'"></list-icon>
          <code-icon size="120" v-if="process.heading == 'Development'"></code-icon>
          <search-icon size="120" v-if="process.heading == 'QA Testing'"></search-icon>
          <terminal-icon size="120" v-if="process.heading == 'Deployment'"></terminal-icon>
          <settings-icon size="120" v-if="process.heading == 'Maintenance'"></settings-icon>
        </template>
        <h3 class="process-title">{{ process.heading }}</h3>
        <div v-html="process.content"></div>
      </b-media>
    </div>
  </div>
</template>

<script>
import {
  ListIcon,
  CodeIcon,
  SearchIcon,
  TerminalIcon,
  SettingsIcon
} from "vue-feather-icons";

export default {
  name: "Process",
  data() {
    return {
      processesList: []
    };
  },
  components: {
    ListIcon,
    CodeIcon,
    SearchIcon,
    TerminalIcon,
    SettingsIcon
  },
  mounted: function() {
    this.getProcesses();
  },
  methods: {
    getProcesses: function() {
      this.$axios.get("/acf/v3/pages/640").then(res => {
        if (res.data) {
          this.processesList = res.data;
          this.loading = false;
        }
      }).catch(err => {
        if (err.msg) {
          this.loading = false;
        }
      })
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/functions";
@import "../../assets/scss/mixins";

@import "../../assets/scss/variables";

.resume-section {
  .nav {
    margin-bottom: 60px;
  }
  flex-direction: column;
  .process {
    margin-bottom: 55px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h3 {
    @include pixel-rem(24, 28);
    text-transform: unset;
    margin-bottom: 12px;
  }
  p {
    @include pixel-rem(16, 19);
    font-weight: 300;
    color: $secondary;
  }
  svg {
    stroke-width: 1px;
  }
}
</style>