<template>
  <div class="w-100">
    <div :class="['featured-member', `featured-member-${selectedMember}`]" :id="`featured-member-${selectedMember}`" v-if="showFeatured">
      <b-row align-v="center">
        <b-col cols="4" class="member-image">
          <b-img
            fluid
            :src="memberContent.profile_image"
            :alt="memberContent.post_title"
            v-if="memberContent.profile_image != null"
          />
        </b-col>
        <b-col cols="8" class="member-introduction">
          <h3>{{ memberContent.post_title }}</h3>
          <p class="lead">{{ memberContent.post_excerpt }}</p>
          <b-button variant="outline-primary" @click="show = true" size="sm">View Profile</b-button>
        </b-col>
      </b-row>
    </div>
    <div class="team-list">
      <b-row>
        <b-col
          class="team-member" cols="6"
          sm="3" lg="4" xl="3"
          v-for="member in membersList"
          :key="member.ID"
          @click="featuredMember(member.ID); getMember(member.ID); showFeatured = true">
          <div class="member-image">
            <b-img
              fluid
              :src="member.profile_image"
              :alt="member.post_title"
              v-if="member.profile_image"
            />
            <b-img
              fluid
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkqAcAAIUAgUW0RjgAAAAASUVORK5CYII="
              :alt="member.post_title"
              v-else
            />
          </div>
          <div class="member-content">
            <h4 class="mb-0">{{ member.post_title }}</h4>
            <p class="mb-0 text-secondary">{{ member.acf.position }}</p>
          </div>
        </b-col>
      </b-row>
    </div>
    <transition name="slideLeft">
    <div v-if="show == true" :id="`profile-${memberContent.ID}`" class="member-profile sidebar">
      <b-button :class="['sidebar-toggle', {active: isHover}]" @click="show = false; isHover = false" @mouseover="isHover = true" @mouseout="isHover = false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </b-button>
      <div class="w-100">
        <div class="main-content">
          <h3>{{ memberContent.post_title }}</h3>
          <div class="member-introduction" v-html="memberContent.post_content"></div>
        </div>
        <template v-if="memberContent.acf.skills">
          <h4>Skills</h4>
          <div v-for="(skill, index) in memberContent.acf.skills" :key="index">
            <h5 class="mb-1">{{skill.skill_name}} - {{ skill.skill_percentage }} %</h5>
            <div class="progress mb-3" style="height: 5px;">
              <div
                :class="['progress-bar', `bg-${index % 2 ? 'secondary' : 'secondary'}`]"
                role="progressbar"
                :style="`width: ${skill.skill_percentage}%`"
                :aria-valuenow="`${skill.skill_percentage}`"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </template>
      </div>
    </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Team",
  data() {
    return {
      selectedMember: '',
      membersList: [],
      memberContent: [],
      show: false,
      isHover: false,
      showFeatured: false
    };
  },
  mounted: async function() {
    this.getMembers();
  },
  methods: {
    getMembers: function() {
      this.$axios.get("/vue/v1/team").then(res => {
        if (res.data) {
          this.membersList = res.data;
        }
      }).catch(err => {
        
      })
    },
    featuredMember: function(index) {
      this.$axios.get("/vue/v1/team/" + index).then(res => {
        this.memberContent = res.data;
      }).catch(err => {
        console.log(err);
      })
    },
    getMember: function(index) {
      this.selectedMember = index;
    },
  }
};
</script>