<template>
  <section class="resume-section d-flex align-items-center">
    <div class="w-100">
      <h2 class="mb-2">Not Found, error 404</h2>
      <p class="lead">The page you are looking for no longer exists. Perhaps you can return back to the <router-link class="text-secondary" to="/">homepage</router-link> and see if you can find what you are looking for.</p>
    </div>
  </section>
</template>

<script>
export default {
  name: "Error"
};
</script>