<template>
  <section
    :id="`section-${selectedRoute}`"
    :class="['resume-section', 'd-flex', selectedRoute == 'about' ? 'align-items-center' : 'align-items-baseline', `${selectedRoute}-section`, 'parent-about']"
  >
    <div class="w-100">
      <b-nav align="end" class="d-none d-sm-flex">
        <b-nav-item
          v-for="(child, index) in routeChildren"
          :key="index"
          :to="child.path"
          exact
          exact-active-class="active"
        >{{ child.name | replacedash }}</b-nav-item>
      </b-nav>

      <b-dropdown
        text="Navigate"
        class="d-sm-none"
        menu-class="w-100"
        size="sm"
        variant="primary"
        block
        split
        split-variant="outline-primary"
      >
        <b-dropdown-item
          v-for="(child, index) in routeChildren"
          :key="index"
          :to="child.path"
        >{{ child.name | replacedash }}</b-dropdown-item>
      </b-dropdown>
    </div>
    <div class="w-100 mt-auto mb-auto" v-if="$route.name == 'about'">
      <p
        class="lead"
      >We are a team of developers in the Philippines. We have over 10 years of experience and we know a thing or two about developing websites and application software.</p>
      <b-button variant="outline-success" to="/about/our-team">Meet Our Team</b-button>
    </div>
    <transition name="fade">
      <router-view name="about" v-if="$route.name != 'about'" />
    </transition>
  </section>
</template>

<script>
export default {
  name: "About",
  data() {
    return {
      childrenList: [],
      currentRouteName: this.$route.name
    };
  },
  computed: {
    routeChildren() {
      const matched = this.$route.matched;
      const routePath = matched[matched.length - 1].path;
      return this.getChildrenByPath(routePath);
    },
    routeSiblings() {
      const matched = this.$route.matched;
      const route = matched[matched.length - 1];
      return this.getChildrenByPath(
        route.parent ? route.parent.path : undefined
      );
    },
    children() {
      return this.$router.currentRoute;
    },
    selectedRoute() {
      return this.$route.name;
    }
  },
  mounted() {
    this.getChildrenByPath();
  },
  methods: {
    getChildrenByPath(path) {
      let children = this.$router.options.routes;

      if (path) {
        // clean up empty elements
        let chunks = path.split("/");
        chunks = chunks.filter(chunk => chunk !== "");

        if (chunks.length) {
          chunks.forEach((chunk, index) => {
            let path = chunk;
            if (index === 0) path = `/${path}`;

            if (children) {
              const found = children.find(child => child.path === path);
              if (found) {
                children = found.children;
              }
            }
          });
        }
      }

      return (this.childrenList = children);
    }
  }
};
</script>