<template>
  <section id="home" class="resume-section d-flex align-items-center">
    <div class="w-100">
      <div class="subheading text-uppercase text-secondary">We're MyDevHouse</div>
      <h1>
        We Design and
        <br />Develop
      </h1>
      <b-button variant="outline-success" to="/contact">Contact Us</b-button>
    </div>
  </section>
</template>

<script>
export default {
  name: "Home"
};
</script>