<template>
  <b-navbar
    toggleable
    type="light"
    variant="faded"
    fixed="top"
    :class="`${visible == true ? 'bg-primary' : ''}`"
  >
    <b-navbar-brand to="/">
      <img src="/images/logo.svg" height="40" alt="MyDevHouse" class="d-lg-none" />
    </b-navbar-brand>
    <b-button
      :class="['hamburger navbar-toggle', 'x', `${ visible ? 'active' : '' }`]"
      id="hamburger-1"
      data-toggle="collapse"
      data-target="navbarSupportedContent"
      @click="visible = !visible"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </b-button>
    <b-collapse id="navbarSupportedContent" is-nav v-model="visible">
      <b-navbar-nav v-b-scrollspy>
        <b-nav-item
          v-for="(navigation, index) in navigationList"
          :key="index"
          :to="navigation.path"
          exact
          exact-active-class="active"
          @click="visible = false"
        >{{ navigation.name }}</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  name: "Navigation",
  data() {
    return {
      visible: false,
      scrollPosition: null
    };
  },
  computed: {
    navigationList: function() {
      return this.$router.options.routes.filter(function(route) {
        return route.name != "thanks" && route.name != "error" &&route.name != 'web-development' && route.name != 'systems-development' && route.name != 'mobile-development';
      });
    }
  },
  methods: {
    updateScroll: function() {
      this.scrollPosition = window.scrollY;
      const navHeader = document.querySelector(".navbar");
      if (window.scrollY > 100) {
        navHeader.classList.add("navbar-bg-onscroll");
      } else if (window.scrollY < 100) {
        navHeader.classList.remove("navbar-bg-onscroll");
        navHeader.classList.add("navbar-bg-onscroll--fade");
      }
    }
  },
  mounted: function() {
    window.addEventListener("scroll", this.updateScroll);
  }
};
</script>