<template>
  <section id="portfolio" class="resume-section d-flex align-items-baseline vld-parent">
    <Loading :active.sync="isLoading" :is-full-page="fullPage" :opacity="opacity" />
    <div class="w-100">
      <b-nav align="end" class="d-none d-sm-flex">
        <b-nav-item active exact exact-active-class="active" @click="filter('all')">All</b-nav-item>
        <b-nav-item
          v-for="department in departmentList"
          :key="department.id"
          exact
          exact-active-class="active"
          :class="department.slug"
          @click="filter(department.slug)"
        >{{ department.name }}</b-nav-item>
      </b-nav>
      <b-dropdown
        text="Filter Portfolio"
        class="d-sm-none"
        menu-class="w-100"
        size="sm"
        variant="primary"
        block
        split
        split-variant="outline-primary"
      >
        <b-dropdown-item @click="filter('all')">All</b-dropdown-item>
        <b-dropdown-item
          v-for="department in departmentList"
          :key="department.id"
          @click="filter(department.slug)"
        >{{ department.name }}</b-dropdown-item>
      </b-dropdown>
    </div>
    <div class="w-100">
      <transition-group tag="div" class="row" name="fade">
        <b-col
          cols="6"
          sm="4"
          md="3"
          lg="4"
          xl="3"
          class="portfolio"
          v-for="portfolio in listPortfolio"
          :key="portfolio.ID"
          :id="portfolio.ID"
        >
          <div
            class="portfolio-image"
            @click="getPortfolioID(portfolio.ID); getSelectedPortfolio(portfolio.ID); show = true; isSidebarLoading = true"
          >
            <b-img-lazy
              fluid
              :src="portfolio.portfolio_image"
              :alt="portfolio.post_title"
              v-if="portfolio.portfolio_image"
            />
            <b-img-lazy
              fluid
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkqAcAAIUAgUW0RjgAAAAASUVORK5CYII="
              :alt="portfolio.post_title"
              v-else
            />
          </div>
          <div class="portfolio-content">
            <h4 class="mb-0">{{ portfolio.post_title }}</h4>
          </div>
        </b-col>
      </transition-group>
    </div>
    <transition name="slideLeft">
    <div
      :id="`portfolio-${selectedPortfolio}`"
      class="sidebar vld-parent"
      v-show="show == true"
      v-if="selectedPortfolio != ''"
    >
      <Loading :active.sync="isSidebarLoading" :is-full-page="fullPage" :opacity="0.75" />
      <b-button
        id="hamburger-3"
        :class="['hamburger', 'sidebar-toggle', {active: isHover}]"
        @click="show = false; isHover = false"
        @mouseover="isHover = true"
        @mouseout="isHover = false"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </b-button>
      <div :class="['w-100', 'portfolio-content', portfolioContent.post_name]">
        <b-img fluid :src="portfolioContent.portfolio_image" :alt="portfolioContent.post_title" />
      </div>
    </div>
    </transition>
  </section>
</template>

<script>
import Loading from "vue-loading-overlay";

export default {
  name: "Portfolio",
  data() {
    return {
      portfolioList: [],
      departmentList: [],
      initialFilter: "all",
      selectedPortfolio: "",
      portfolioContent: "",
      show: false,
      isHover: false,
      isLoading: true,
      fullPage: false,
      opacity: 1,
      isSidebarLoading: true
    };
  },
  components: {
    Loading
  },
  mounted() {
    this.getPortfolio();
    this.getDepartments();
  },
  computed: {
    listPortfolio: function() {
      var filter = this.initialFilter;
      if (filter != "all") {
        return this.portfolioList.filter(function(item) {
          return item.department.indexOf(filter) !== -1;
        });
      } else {
        return this.portfolioList;
      }
    }
  },
  methods: {
    getPortfolio: function() {
      this.$axios
        .get("/vue/v1/portfolio")
        .then(res => {
          // if (res.data) {
          this.portfolioList = res.data;
          // }
        })
        .catch(err => {
          console.log(err);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    getDepartments: function() {
      this.$axios
        .get("/vue/v1/departments")
        .then(res => {
          if (res.data) {
            this.departmentList = res.data;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    getSelectedPortfolio: async function() {
      try {
        const res = await this.$axios.get(
          "/vue/v1/portfolio/" + this.selectedPortfolio
        );
        this.portfolioContent = res.data;
        this.isSidebarLoading = false;
      } catch (e) {
        console.log(e);
      }
    },
    getPortfolioID: function(index) {
      this.selectedPortfolio = index;
    },
    filter: function(tag) {
      this.initialFilter = tag;
    }
  }
};
</script>

<style lang="scss" scoped>
.sidebar {
  .portfolio-content {
    height: calc(100vh - 120px);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
}
</style>