<template>
  <section id="services" class="resume-section d-flex align-items-center flex-column">
    <transition name="fade">
      <router-view v-if="$route.name != 'services'" name="services"></router-view>
    </transition>
    <template v-if="$route.name == 'services'">
      <div
        v-for="service in servicesList"
        :key="service.ID"
        :class="['service', 'w-100']"
      >
        <b-media class="align-items-center">
          <template v-slot:aside>
            <code-icon size="120"></code-icon>
          </template>
          <h3 class="mb-0 mt-0 service-name">{{ service.post_title }}</h3>
          <p class="lead mb-0">Services</p>
        </b-media>
        {{ serviceContent.post_name }}
        <p class="service-content mb-0">{{ service.post_excerpt }}</p>
        <b-link class="service-link" :to="`/services/${service.post_name}`">Learn More</b-link>
      </div>
    </template>
  </section>
</template>

<script>
import { CodeIcon } from "vue-feather-icons";
import Loading from "vue-loading-overlay";

export default {
  name: "Services",
  components: {
    CodeIcon
  },
  data() {
    return {
      servicesList: [],
      selectedService: null,
      serviceContent: [],
      show: false,
      isHover: false,
      isLoading: true,
      opacity: 1,
      fullPage: false
    };
  },
  mounted: async function() {
    this.getServices();
  },
  methods: {
    getServices: async function() {
      await this.$axios
        .get("/vue/v1/services")
        .then(res => {
          if (res.data) {
            this.servicesList = res.data;
          }
        })
        .catch(err => {});
    },
    getServiceID: function(index) {
      this.selectedService = index;
    }
  }
};
</script>

<style lang="scss" scoped>
  .service {
    position: relative;
    .service-link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-indent: -9999em;
    }
  }
</style>