<template>
  <section
    :id="`sidebar-${currentRouteName}`"
    class="sidebar d-flex align-items-center text-center m-auto vld-parent"
  >
    <div class="w-100">
      <h1 class="logo" v-if="currentRouteName == 'home'">
        <b-img-lazy fluid src="/images/logo.svg" alt="MyDevHouse" width="360" class="m-auto" />
      </h1>
      <div class="featured-testimonial vld-parent" v-else-if="currentRouteName == 'testimonials'">
        <!-- <Loading :active.sync="isLoading" :is-full-page="fullPage" /> -->
        <div class="testimonial-content">
          <blockquote v-html="featuredTestimonial.post_content"></blockquote>
        </div>
        <b-media class="align-items-center">
          <template v-slot:aside>
            <b-img
              rounded="circle"
              :src="featuredTestimonial.testimonial_image"
              :alt="featuredTestimonial.post_title"
              width="60"
            />
          </template>
          <h5 class="mb-0 mt-0 testimonial-author">{{ featuredTestimonial.post_title }}</h5>
          <p class="testimonial-author-company mb-0">{{ featuredTestimonial.acf.company }}</p>
        </b-media>
      </div>
      <div
        class="logo mb-0"
        v-else-if="currentRouteName == 'systems-development' || currentRouteName == 'mobile-development' || currentRouteName == 'web-development'"
      >
        <monitor-icon size="360" v-if="currentRouteName == 'systems-development'"></monitor-icon>
        <smartphone-icon size="360" v-if="currentRouteName == 'mobile-development'"></smartphone-icon>
        <globe-icon size="360" v-if="currentRouteName == 'web-development'"></globe-icon>
      </div>
      <h1 class="page-title" v-else>{{ currentRouteName | replacedash }}</h1>
    </div>
  </section>
</template>

<script>
import { GlobeIcon, MonitorIcon, SmartphoneIcon } from "vue-feather-icons";

export default {
  name: "Sidebar",
  data() {
    return {
      featuredTestimonial: ""
      // isLoading: true,
      // fullPage: false
    };
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    }
  },
  components: {
    GlobeIcon,
    MonitorIcon,
    SmartphoneIcon
  },
  mounted: function() {
    this.getFeaturedTestimonial();
  },
  methods: {
    getFeaturedTestimonial: function() {
      this.$axios
        .get("/vue/v1/testimonial/783")
        .then(res => {
          // if (res.data) {
          this.featuredTestimonial = res.data;
          // }
        })
        .catch(err => {
          console.log(err);
        })
        .finally(() => {
          this.isLoading = false;
        });
    }
  }
};
</script>
<style lang="scss" scoped>
svg {
  color: #fff;
}
</style>