<template>
  <section id="testimonials" class="resume-section d-flex align-items-baseline vld-parent">
    <Loading :active.sync="isLoading" :is-full-page="fullPage" :opacity="opacity" />
    <div class="w-100">
      <h2>Testimonials</h2>
      <div
        class="testimonial"
        v-for="(testimonial, index) in testimonialsList"
        :key="testimonial.id"
      >
        <b-media :right-align="index % 2 ? true : false" class="testimonial-image">
          <template v-slot:aside>
            <b-img-lazy fluid :src="testimonial.testimonial_image" alt="testimonial.post_title" />
          </template>
          <div class="testimonial-content">
            <div v-html="testimonial.post_content"></div>
            <h4 class="testimonial-title mb-0">{{ testimonial.post_title }}</h4>
            <p class="subheading">{{ testimonial.acf.company }}</p>
          </div>
        </b-media>
      </div>
    </div>
  </section>
</template>

<script>
import Loading from "vue-loading-overlay";
export default {
  name: "Testimonials",
  data() {
    return {
      testimonialsList: [],
      isLoading: true,
      fullPage: false,
      opacity: 1
    };
  },
  components: {
    Loading
  },
  mounted() {
    this.getTestimonials();
  },
  methods: {
    getTestimonials: function() {
      this.$axios
        .get("/vue/v1/testimonial")
        .then(res => {
          if (res.data) {
            this.testimonialsList = res.data;
          }
        })
        .catch(err => {
          console.log(err);
        })
        .finally(() => {
          this.isLoading = false;
        });
    }
  }
};
</script>