<template>
  <section class="resume-section d-flex align-items-center">
    <div class="w-100">
      <h2 class="mb-2">Thank you for your submission!</h2>
      <p class="lead">We'll be geing back to you, shortly.</p>
      <b-button to="/">Back to Home</b-button>
    </div>
  </section>
</template>

<script>
export default {
  name: "Thanks"
};
</script>