<template>
  <div id="app">
    <Navigation />
    <b-container id="sideNav" class="p-0" fluid>
      <Sidebar />
    </b-container>
    <b-container class="p-0" fluid>
      <transition name="fade">
        <keep-alive>
          <router-view />
        </keep-alive>
      </transition>
    </b-container>
  </div>
</template>

<script>
import Navigation from "@/components/Navigation";
import Sidebar from "@/components/Sidebar";

export default {
  name: "app",
  components: {
    Navigation,
    Sidebar
  },
  watch: {
    $route: {
      handler: (to, from) => {
        if (to.name != "home") {
          document.title = to.meta.title + " - MyDevHouse";
        } else {
          document.title = to.meta.title + " - IT Development Solutions";
        }
      },
      immediate: true
    }
  }
};
</script>
